### SQLite

파일기반 소용량의 데이터베이스시스템

1. 공식사이트 : http://sqlite.com
2. 개발자
 - 리차드 힙(Richard Hipp)이 2008.08월에 발표, C언어로 제작
 - 최신버전 : 3.31.1
3. 개요
 - 파일기반의 DBMS, 저메모리, 빠른 처리 속도
 - 오픈 소스
 - 별도의 DB서버가 없어도 쉽고 빠르게 사용할 수 있는 Embeded SQL DB엔진
 - 안드로이드, 아이폰등의 스마트기기에 내장된 DB
 - 표준 SQL문법을 지원
4. SQLite에서 지원하지 않는 기능(https://www.sqlite.com/omitted.html) 
 - Right and Full outer join은 지원불가 : left outer join은 가능
 - Complete Alter Table 지원불가
 - Complete Trigger 지원불가
 - Writing to Views 지원불가 : 읽기 전용 View만 가능
 - Grant and Revoke 지원불가
5. SQLite 클라이언트 Tool
 - http://www.sqliteexpert.com
 - Personal 64bit 버전 download and install
 
>sqlite3모듈을 파이썬의 표준라이브러리이기 때문에 별도 설치 없이 사용할 수 있다.

In [1]:
import sqlite3
# 모듈버전확인
print('모듈버전: ', sqlite3.version)
# DB버전확인
print('DB버전: ', sqlite3.sqlite_version)

모듈버전:  2.6.0
DB버전:  3.31.1

###### 1. table생성

In [2]:
def create_table():
    # 1. dbconnection
    # 해당폴더에 DB가 없으면 커넥션할 때 자동으로 생성
    # 주의할 점 : 폴더이름은 전체이름으로 설정할 것
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 테이블 생성
    # 제목, 출판일, 출판사, 페이지수, 추천여부
    cursor.execute('''
        create table if not exists books(
            title text,
            published_date text,
            publisher text,
            pages integer,
            recommand integer
        )
    ''')
    conn.commit()
    conn.close()
    
create_table()

###### 2. 데이터입력

In [3]:
# 1. 한건입력
def insert_table():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    # 데이터입력 SQL
    cursor.execute('''
        insert into books values('JAVA', '2020-01-01', '한빛미디어', 584, 10)
    ''')
    
    conn.commit()
    conn.close()
    
insert_table()

In [4]:
# 2. 한건입력 : tuple을 이용한 1건 입력
def insert_table_01():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    # 데이터입력 SQL
    sql = 'insert into books values(?,?,?,?,?)'
    cursor.execute(sql, ('Python', '2019-12-01', '위키북스', 500, 20))
    
    conn.commit()
    conn.close()
    
insert_table_01()

In [5]:
# 3. 여러건입력 : tuple을 이용한 여러건 입력
def insert_table_02():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    # 1. 데이터입력 SQL
    sql = 'insert into books values(?,?,?,?,?)'
    
    # 2. 튜플을 이용한 복수개의 데이터를 입력
    # 책의 정보를 담고 있는 튜플 리스트
    books = [
        ('BigData', '2018-01-01', '더조은', 296, 2),
        ('안드로이드', '2018-02-01', '한빛', 596, 11),
        ('R까기', '2018-03-01', '길벗', 300, 3),
        ('SQLite', '2018-04-01', '교학사', 350, 6)
    ]
    
    # 3. 여러건 입력 : executemany()
    cursor.executemany(sql, books)
    
    conn.commit()
    conn.close()
    
insert_table_02()

###### 3. 자료조회

In [6]:
# 1. 전체자료조회
def all_books():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    # 데이터조회
    cursor.execute('select * from books')
    
    # 조회자료 불러오기 : fetchall() : 모든 자료를 튜플로 리턴
    books = cursor.fetchall()
    
    for book in books:
        print(book)
    
    conn.close()
    
all_books()

('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('Python', '2019-12-01', '위키북스', 500, 20)
('BigData', '2018-01-01', '더조은', 296, 2)
('안드로이드', '2018-02-01', '한빛', 596, 11)
('R까기', '2018-03-01', '길벗', 300, 3)
('SQLite', '2018-04-01', '교학사', 350, 6)
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('Python', '2019-12-01', '위키북스', 500, 20)
('BigData', '2018-01-01', '더조은', 296, 2)
('안드로이드', '2018-02-01', '한빛', 596, 11)
('R까기', '2018-03-01', '길벗', 300, 3)
('SQLite', '2018-04-01', '교학사', 350, 6)

In [7]:
# 2. 일부자료조회
def some_books(number):
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    # 데이터조회
    cursor.execute('select * from books')
    print('데이터 일부 출력하기')
    print("="*80)
    
    # 조회자료 불러오기 : 
    # 1. 일부자료 불러오기 fetchmany() : 일부 자료를 튜플로 리턴
    books = cursor.fetchmany(number)
    
    for book in books:
        print(book, type(book))
    
    conn.close()
    
some_books(3)
print()
some_books(2)

데이터 일부 출력하기
================================================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10) <class 'tuple'>
('Python', '2019-12-01', '위키북스', 500, 20) <class 'tuple'>
('BigData', '2018-01-01', '더조은', 296, 2) <class 'tuple'>

데이터 일부 출력하기
================================================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10) <class 'tuple'>
('Python', '2019-12-01', '위키북스', 500, 20) <class 'tuple'>

In [8]:
# 3. 한개자료조회
def one_book():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    # 데이터조회
    cursor.execute('select * from books')
    print('데이터 일부 출력하기')
    print("="*80)
    
    # 조회자료 불러오기
    # 한건의 자료 불러오기 : fetchone() : 한개의 자료를 튜플로 리턴
    books = cursor.fetchone()
    
    # fetchone() : 열별로 출력
    for book in books:
        print(book)

    print(cursor.fetchone())
    
    conn.close()
    
one_book()

데이터 일부 출력하기
================================================================================
JAVA
2020-01-01
한빛미디어
584
10
('Python', '2019-12-01', '위키북스', 500, 20)

In [9]:
# 4. 조건별 자료조회
def condition_books(pages):
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    # 데이터조회
    cursor.execute('select * from books where pages >=' + str(pages))
    print(str(pages), '페이지 이상인 책을 출력하기')
    print("="*80)
    
    # 조회자료 불러오기
    books = cursor.fetchall()
    
    for book in books:
        print(book)
    
    conn.close()
    
condition_books(500)

500 페이지 이상인 책을 출력하기
================================================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('Python', '2019-12-01', '위키북스', 500, 20)
('안드로이드', '2018-02-01', '한빛', 596, 11)
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('Python', '2019-12-01', '위키북스', 500, 20)
('안드로이드', '2018-02-01', '한빛', 596, 11)

###### 4. 자료수정

In [10]:
# 1. 자료수정 : JAVA라는 책의 추천수를 100으로 수정하기
def update_books():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    sql = 'update books set recommand=? where title=?'
    cursor.execute(sql, (100, 'JAVA'))
    
    conn.commit()
    conn.close()
       
update_books()

###### 5. 자료삭제

In [12]:
# 더조은이라는 출판사 자료 삭제하기
def delete_books():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_book.db')
    cursor = conn.cursor() 
    
    sql = 'delete from books where publisher = ?'
    # 주의사항
    # 값이 한개일때 값이 여러개 일때는 리스트, 튜플형으로 설정해야 한다.
    # 즉 한개일 때 ['더조은'], 여러개일 때는 ('더조은',)으로 해야 한다.
    # 만약, 단순히 '더조은'이라고 하면 에러가 발생된다.
    cursor.execute(sql, ('더조은',))
    
    conn.commit()
    conn.close()    

delete_books()

###### 연습문제 : 판매관리DB

1. db생성 : '../data/db/my_sales.db'
2. sales 테이블 생성하기
   customer varchar(20)
   product varchar(20)
   price float
   date date
   함수이름 : create_table_sales()
   
3. 테이블조회 : show_tables()
   1) sqlite_master 시스템테이블
   2) type = 'table'
   3) for table in tables:

4. 데이터추가 : insert_sales()
   1) 자료추가 : 리스트 = 테이블, 튜플 = 레코드
   2) 4건정도 추가

5. 데이터조회 : select_sales()
   1) 추가한 데이터 조회

In [13]:
import sqlite3

def create_table_sales():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_sales.db')
    
    sql = '''
        create table if not exists sales(
            customer varchar(20),
            product varchar(20),
            price float,
            date date
        )
    '''
    
    conn.execute(sql)
    
    conn.commit()
    conn.close()
    
create_table_sales()

In [14]:
def show_tables():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_sales.db') 
    cursor = conn.cursor() 
    
    
    cursor.execute('select * from sqlite_master where type ='
                   + '"table"')

    tables = cursor.fetchall()
    
    for table in tables:
        print(table)       
    
    conn.close() 

show_tables()

('table', 'sales', 'sales', 2, 'CREATE TABLE sales(\n            customer varchar(20),\n            product varchar(20),\n            price float,\n            date date\n        )')

In [15]:
# 데이터추가 : insert
def insert_sales():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_sales.db')
    
    #자료추가 : 리스트=테이블, 튜플=레코드
    data = [
        ('소향', '배', 1000, '2018-01-01'),
        ('손흥민', '사과', 1500, '2018-02-01'),
        ('박지성', '포도', 2000, '2018-03-01'),
        ('류현진', '귤', 1100, '2018-04-01'),
    ]
    
    sql = 'insert into sales values(?,?,?,?)'
    conn.executemany(sql, data)
    
    conn.commit()
    conn.close()
    
insert_sales()

In [16]:
# 데이터조회
def select_sales():
    conn = sqlite3.connect('d:/gilbaek/data/db/my_sales.db')

    # select 실행
    cursor = conn.execute('select * from sales')
    rows = cursor.fetchall()
    
    count = 0
    for row in rows:
        print(row)
        count += 1
        
    print('row: {}'.format(count))
    
    conn.close()
    
select_sales()

('소향', '배', 1000.0, '2018-01-01')
('손흥민', '사과', 1500.0, '2018-02-01')
('박지성', '포도', 2000.0, '2018-03-01')
('류현진', '귤', 1100.0, '2018-04-01')
row: 4

###### SQLite를 RAM메모리에 직접생성하고 사용하는 방법

* sqlite에서 RAM메모리(`:memory:`)에 직접 생성해 사용하는 방법이다.
* 장점은 RAM에서 실행되기 때문에 속도가 빠르다.
* 단점은 휘발성이기 때문에 저장이 되지 않는다.

In [20]:
import sqlite3

conn = sqlite3.connect(':memory:')
sql = '''
    create table if not exists sales(
        customer varchar(20),
        product varchar(20),
        price float,
        date date
    )
'''

conn.execute(sql)

data = [
    ('소향', '배', 1000, '2018-01-01'),
    ('손흥민', '사과', 1500, '2018-02-01'),
    ('박지성', '포도', 2000, '2018-03-01'),
    ('류현진', '귤', 1100, '2018-04-01'),    
]

sql = 'insert into sales values(?,?,?,?)'
conn.executemany(sql, data)
conn.commit()

cursor = conn.execute('select * from sales')
rows = cursor.fetchall()

count = 0
for row in rows:
    print(row)
    count += 1
    
print('rows: {}'.format(count))

conn.close()

('소향', '배', 1000.0, '2018-01-01')
('손흥민', '사과', 1500.0, '2018-02-01')
('박지성', '포도', 2000.0, '2018-03-01')
('류현진', '귤', 1100.0, '2018-04-01')
rows: 4