#### SQLite

* 파일기반 소용량의 데이터베이스 시스템

* 1. 공식사이트 : https://www.sqlite.org
 2. 오프라인에서 작동해야하기 때문에 별도의 DB서버가 없어도 구동
 - EMbeded SQL DB엔진
 - 각 스마트폰 기기 내부에 저장된 DB를 사용
 - 표준 sql를 사용
 
 3. 지원하지 않는 기능
 - https://www.sqlite.org/omitted.html
 - left join만 완벽히 지원, 뷰x, 트리거x
 - alter table 완벽지원 x
 - 권한의 지정, 해제 불가
 4. SQLLite 클라이언트 Tool
 - SQLLite Expert Personal 64bit 버전 
 > sqllite3 모듈을 파이썬의 표준라이브러리이기 때문에 별도의 설치없이 사용가능

In [ ]:
# 실습
import sqlite3

# 모듈버전 확인
print(sqlite3.version)
# DB버전 확인
print(sqlite3.sqlite_version)

#### 1. 테이블 생성

In [6]:
def create_table():
    # 1. dbconnection
    # 해당폴더에 db가 없으면 커넥션할 때 자동으로 생성
    
    # sqlite의 경로는 전체경로를 전부 지정해줘야 한다.
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor() # cursor : sql를 실행하는 객체
    
    # 테이블 생성
    # 제목, 출판일, 출판사, 페이지수, 추천여부
    cursor.execute('''
    create table if not exists books(
        title text,
        published_date text,
        publisher text,
        pages integer,
        recommand integer
    )
    
    ''')
    conn.commit()
    conn.close()
    
create_table()

#### 2. 데이터 입력

In [8]:
# 1. 한건 입력
def insert_table():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    cursor.execute('insert into books values("JAVA","2020-01-01","한빛미디어",584,10)')
    conn.commit()
    conn.close()

insert_table()

In [ ]:
# 2 .튜플로 입력
# 2-1. 한건 입력

def insert_table_01():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    sql = 'insert into books values(?,?,?,?,?)'
    cursor.execute(sql,('Python','2019-12-01','위키북스',500,20))
    
    conn.commit()
    conn.close()
    
insert_table_01()

In [10]:
# 2-2. 여러건 입력
def insert_table_02():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    # 입력 sql
    sql = 'insert into books values(?,?,?,?,?)'
  
    # 입력할 튜플 리스트를 생성
    books = [('BigData','2018-01-25','더조은',290,30),
             ('Mont','2016-03-21','더한빛',490,40),
             ('HD','2014-09-17','아마존',350,50),
             ('R','2017-02-11','쿠팡',300,60)]
    
    # 3. 여러건 입력 : executemany()
    cursor.executemany(sql,books)
    conn.commit()
    conn.close()
    
insert_table_02()

#### 3. 자료조회

In [11]:
# 1. 전체자료조회

def all_books():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    # 데이터 조회
    cursor.execute('select * from books')
   
    # 데이터를 execute한 뒤 변수에 담아야함, java와 같은 형식으로 생각됨
    # fetchall() : 모든 자료를 튜플로 리턴
    books = cursor.fetchall()
    for book in books :
        print(book)
    
    conn.close()
    
all_books()

('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('Python', '2019-12-01', '위키북스', 500, 20)
('BigData', '2018-01-25', '더조은', 290, 30)
('Mont', '2016-03-21', '더한빛', 490, 40)
('HD', '2014-09-17', '아마존', 350, 50)
('R', '2017-02-11', '쿠팡', 300, 60)

In [14]:
# 2. 일부자료조회

def some_books(number):
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    # 데이터 조회
    cursor.execute('select * from books')
    print('데이터 일부 출력하기')
    print('='*80)
    
    # 일부자료 불러오기
    # fetchmany() : 일부 자료를 튜플로 리턴
    # defualt = 1
    books = cursor.fetchmany(number)
    for book in books :
        print(book)
    
    conn.close()
    
some_books(3)
print()
some_books(2)

데이터 일부 출력하기
================================================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('Python', '2019-12-01', '위키북스', 500, 20)
('BigData', '2018-01-25', '더조은', 290, 30)

데이터 일부 출력하기
================================================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('Python', '2019-12-01', '위키북스', 500, 20)

In [ ]:
# 3. 한개자료조회

def one_books():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    # 데이터 조회
    cursor.execute('select * from books')
    print('데이터 일부 출력하기')
    print('='*80)

    # 조회자료 불러오기
    # 한건의 자료 불러오기  
    # fetchone() : 한개의 자료를 튜플로 불러옴
    # 한건의 경우에는 열로 저장이됨
    # list저장 x

    
    a = cursor.fetchone()
    
    print(a)
    
    conn.close()
    
one_books()

데이터 일부 출력하기
================================================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10)

In [ ]:
# 4. 조건별 자료조회

In [19]:
def con_books(pages):
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    # 데이터 조회
    cursor.execute('select * from books where pages >=' + str(pages))
    print( str(pages) + '페이지 이상의 책을 출력하기')
    print('='*80)

    # 조회자료 불러오기
    # 한건의 자료 불러오기  
    # fetchone() : 한개의 자료를 튜플로 불러옴
    # 한건의 경우에는 열로 저장이됨

    
    a = cursor.fetchall()
    
    print(a)
    
    conn.close()
    
con_books(400)

400페이지 이상의 책을 출력하기
================================================================================
[('JAVA', '2020-01-01', '한빛미디어', 584, 10), ('Python', '2019-12-01', '위키북스', 500, 20), ('Mont', '2016-03-21', '더한빛', 490, 40)]

#### 4. 자료수정

In [21]:
# 1. 자료수정 : java라는 책의 추천수를 100으로 수정하기

def update_book():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    # 데이터 업데이트
    sql = 'update books set recommand=? where title = ?'
    cursor.execute(sql,(100,'JAVA'))


    
    conn.commit()
    conn.close()

update_book()

#### 5. 자료 삭제

In [22]:
# 더조은 출판사 삭제

def delete_book():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_book.db')
    cursor = conn.cursor()
    
    # 데이터 업데이트
    sql = 'delete from books where publisher = ?'
    # 주의사항
    # 값이 한개일 때는 ['더조은']
    # 값이 여러개일 때 ('더조은','한빛미디어',...)
    # 단순히 문자열을 넣으면 에러가 발생한다.
    
    cursor.execute(sql,['더조은'])


    
    conn.commit()
    conn.close()

delete_book()

#### 연습문제 : 판매관리 DB

> 판매관리 DB생성
1. D:/kim_seunghyek/data/db/my_slaes.db

2. salse 테이블 생성
 * customer vachar(20),
 product vachar(20),
 price float,
 date date
 
3. 테이블 조회 : show_table(

4. 데이터 추가
5. 데이터 조회

In [ ]:
# 실습
def create_sale_table():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_slaes.db')
    cursor = conn.cursor()
    
    sql ='''
     create table sales (
     customer vachar(20),
     product vachar(20),
     price float(30),
     date date
     )
    
    '''
    
    cursor.execute(sql)


    
    conn.commit()
    conn.close()

create_sale_table()

In [38]:
def all_table():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_slaes.db')
    cursor = conn.cursor()
    
    # 데이터 조회
    cursor.execute('SELECT * FROM sqlite_master WHERE type="table"')
   
    # 데이터를 execute한 뒤 변수에 담아야함, java와 같은 형식으로 생각됨
    # fetchall() : 모든 자료를 튜플로 리턴
    a = cursor.fetchall()
    print(a)
    
    for i in a:
        print(i)
    conn.close()
    
all_table()

[('table', 'salse', 'salse', 2, 'CREATE TABLE salse (\n     customer vachar(20),\n     product vachar(20),\n     price float(30),\n     date date\n     )'), ('table', 'sales', 'sales', 3, 'CREATE TABLE sales (\n     customer vachar(20),\n     product vachar(20),\n     price float(30),\n     date date\n     )')]
('table', 'salse', 'salse', 2, 'CREATE TABLE salse (\n     customer vachar(20),\n     product vachar(20),\n     price float(30),\n     date date\n     )')
('table', 'sales', 'sales', 3, 'CREATE TABLE sales (\n     customer vachar(20),\n     product vachar(20),\n     price float(30),\n     date date\n     )')

In [31]:
def insert_sale_table():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_slaes.db')
    cursor = conn.cursor()
    
    sql =''' insert into sales values (?,?,?,?)
    '''
    
    
    sale = [('홍길동','사과','2000','2019-03-25'),
             ('홍길자','바나나','3000','2016-03-21'),
             ('홍길순','밤','1000','2014-09-17'),
             ('홍길녀','귤','2000','2017-02-11')]
    
    cursor.executemany(sql,sale)

    
    conn.commit()
    conn.close()

insert_sale_table()

In [39]:
# 1. 전체자료조회

def all_sales():
    conn = sqlite3.connect('D:/kim_seunghyek/data/db/my_slaes.db')
    cursor = conn.cursor()
    
    cursor.execute('select * from sales')
   

    a = cursor.fetchall()
    
    for i in a:
        print(i)

    
    
    
    conn.close()
    
all_sales()

('홍길동', '사과', 2000.0, '2019-03-25')
('홍길자', '바나나', 3000.0, '2016-03-21')
('홍길순', '밤', 1000.0, '2014-09-17')
('홍길녀', '귤', 2000.0, '2017-02-11')

#### SQLite를 RAM메모리에 직접생하고 사용

sqlite에서 메모리(`:memory:`)에 직접 생성해 사용하는 방법이다.
장점은 RAM에서 실행되기 때문에 속도가 빠르다.
단점은 휘발성이기 때문에 저장되지 않는다.

In [43]:
import sqlite3

conn = sqlite3.connect(':memory:')
sql = '''
     create table sales (
     customer vachar(20),
     product vachar(20),
     price float(30),
     date date)

'''
conn.execute(sql)

data = [('홍길동','사과','2000','2019-03-25'),
             ('홍길자','바나나','3000','2016-03-21'),
             ('홍길순','밤','1000','2014-09-17'),
             ('홍길녀','귤','2000','2017-02-11')]

sql = 'insert into sales values(?,?,?,?)'
conn.executemany(sql,data)

conn.commit()

cursor = conn.execute('select * from sales')
rows = cursor.fetchall()

count = 0
for row in rows :
    print(row)
    count +=1
print('row : {}'.format(count))

conn.close()

('홍길동', '사과', 2000.0, '2019-03-25')
('홍길자', '바나나', 3000.0, '2016-03-21')
('홍길순', '밤', 1000.0, '2014-09-17')
('홍길녀', '귤', 2000.0, '2017-02-11')
row : 4